<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <title>Listar Pedidos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div class="container" th:replace="fragments/headerPedido"></div>
<br>
<div class="separator">Listado de Pedidos</div>
<div class="container mb-5">
    <div class="container mb-5">
        <div th:if="${mensaje != null}" class="alert alert-success alert-dismissible fade show text-center message">
            <span th:text="${mensaje}"></span>
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Cerrar">
                <span aria-hidden="true">✖</span>
            </button>
        </div>
    </div>
</div>

<div class="frame">
    <div th:replace="fragments/opciones :: menuOpciones"></div>

    <div class="panel-listar">
        <button class="boton-filtrar">Filtrar</button>
        <div class="table-container">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Fecha Entrega</th>
                    <th>Estado</th>
                    <th>Total a Pagar</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pedido : ${pedidos}">
                    <td th:text="${pedido.idPedido}"></td>
                    <td th:text="${pedido.cliente.nombreCompleto}"></td>
                    <td th:text="${pedido.fechaEnvio}"></td>
                    <td th:text="${pedido.estadoPedido}"></td>
                    <td th:text="${pedido.totalAPagar}"></td>
                    <td>
                        <!-- Botones de acción -->
                        <a th:href="@{/pedido/detalle/{id}(id=${pedido.idPedido})}"
                           title="Ver detalles del pedido"
                           class="btn btn-detail btn-sm">
                            <i class="fa-regular fa-eye icon-dark"></i>
                        </a>
                        <a th:href="@{/pedido/eliminar/{id}(id=${pedido.idPedido})}"
                           title="Eliminar pedido"
                           class="btn btn-delete btn-sm"
                           onclick="return confirm('¿Estás seguro de que deseas eliminar este pedido?');">
                            <i class="fa-regular fa-trash-can icon-dark"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<a th:href="@{/pedido/nuevo}" class="btn btn-primary">Crear Nuevo Pedido</a>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>