<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
<h1>LISTADO DE PRODUCTOS</h1>
<button onclick="window.location.href='/producto/insertarProducto'">Nuevo Producto</button>
<table>
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th>Descuento</th>
        <th>Cantidad</th>
        <th>Acciones</th>
    </tr>
    <tr th:each="producto :${listaProductos}">
        <td th:text="${producto.idproducto}"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.descripcion}"></td>
        <td th:text="${producto.categoria.nombre}"></td>
        <td th:text="${producto.precio}"></td>
        <td th:text="${producto.descuento}"></td>
        <td th:text="${producto.cantidad}"></td>
        <td>
            <a th:href="@{/producto/editarProducto/{idproducto}(idproducto=${producto.idproducto})}">Editar</a>
            <a th:href="@{/producto/eliminar/{idproducto}(idproducto=${producto.idproducto})}" onclick="return confirm('¿Está seguro de que desea eliminar este producto?')">Eliminar</a>
            <a th:href="@{/producto/detalleProducto/{idproducto}(idproducto=${producto.idproducto})}">Detalle</a>
        </td>
    </tr>
</table>
</body>
</html>