<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${categoria.idcategoria} != null ? 'Crear Nueva Categoria' : 'Editar Categoria'"></title>
</head>
<body>
<h1 th:text="${categoria.idcategoria} != null ? 'Crear Nueva Categoria' : 'Editar Categoria'"></h1>
<form th:object="${categoria}" th:action="@{${accion}}" method="post">

    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}"/><br>

    <label>Descripción:</label>
    <input type="text" th:field="*{descripcion}"/><br>

    <button type="submit" th:text="${categoria.idcategoria} != null ? 'Guardar' : 'Actualizar'"></button>
</form>
</body>
</html>