<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal - Hierba Santa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Hierba Santa</a>
    <div class="ml-auto">
            <span class="text-light mr-3">
                Bienvenido, <span th:text="${empleadoNombre}"></span> (<span th:text="${empleadoCargo}"></span>)
            </span>
        <a href="/logout" class="btn btn-outline-light">Cerrar Sesión</a>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">Menú Principal</a>
                <a href="#" class="list-group-item list-group-item-action">Gestión de Productos</a>
                <a href="#" class="list-group-item list-group-item-action">Ventas</a>
                <a href="#" class="list-group-item list-group-item-action">Reportes</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bienvenido al Sistema</h5>
                    <p class="card-text">Seleccione una opción del menú lateral para comenzar.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>