<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Tipo Cliente</title>
</head>
<body>
<h1>Editar Tipo Cliente</h1>
<form th:action="@{/tipoCliente/editarTipoCliente/{id}(id=${tipoCliente.idTipoCliente})}" th:object="${tipoCliente}" method="post">
    <label for="tipo">Tipo Cliente:</label>
    <input type="text" id="tipo" th:field="*{tipo}" required>
    <br>
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" th:field="*{descripcion}">
    <br>
    <label for="beneficios">Beneficios:</label>
    <input type="text" id="beneficios" th:field="*{beneficios}">
    <br>
    <button type="submit">Actualizar</button>
</form>
<a th:href="@{/tipoCliente/listarTipoCliente}">Volver a la Lista</a>
</body>
</html>