<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insertar Empleado</title>
</head>
<body>
<h1>Insertar Empleado</h1>
<form th:action="@{/empleado/insertarEmpleado}" th:object="${llaveEmpleado}" method="post">
    <label for="nombreCompleto">Nombre Completo:</label>
    <input type="text" id="nombreCompleto" th:field="*{nombreCompleto}" required><br>

    <label for="dni">DNI:</label>
    <input type="text" id="dni" th:field="*{dni}"><br>

    <label for="cargo">Cargo:</label>
    <select id="cargo" th:field="*{cargo}">
        <option value="Gerente">Op.Produccion</option>
        <option value="Subgerente">Op.Almacen</option>
        <option value="Asistente">Asistente</option>
        <option value="Operario">Secretario(a)</option>
    </select><br>

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" th:field="*{telefono}"><br>

    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" th:field="*{direccion}"><br>

    <label for="fechaDeContrato">Fecha de Contrato:</label>
    <input type="date" id="fechaDeContrato" th:field="*{fechaDeContrato}"><br>

    <label for="salario">Salario:</label>
    <input type="number" step="0.01" id="salario" th:field="*{salario}"><br>

    <input type="submit" value="Guardar">
</form>
<a th:href="@{/empleado/listarEmpleados}">Volver a lista</a>
</body>
</html>