<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar Empleados</title>
</head>
<body>
<h1>Lista de Empleados</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID Empleado</th>
        <th>Nombre Completo</th>
        <th>DNI</th>
        <th>Cargo</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Fecha de Contrato</th>
        <th>Salario</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="empleado : ${llaveEmpleados}">
        <td th:text="${empleado.idEmpleado}"></td>
        <td th:text="${empleado.nombreCompleto}"></td>
        <td th:text="${empleado.dni}"></td>
        <td th:text="${empleado.cargo}"></td>
        <td th:text="${empleado.telefono}"></td>
        <td th:text="${empleado.direccion}"></td>
        <td th:text="${#temporals.format(empleado.fechaDeContrato, 'yyyy-MM-dd')}"></td>
        <td th:text="${empleado.salario}"></td>
        <td>
            <a th:href="@{/empleado/detalleEmpleado/{id}(id=${empleado.idEmpleado})}">Detalle</a>
            <button type="button" onclick="mostrarAlerta()">Editar</button>
            <a th:href="@{/empleado/eliminarEmpleado/{id}(id=${empleado.idEmpleado})}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/empleado/insertarEmpleado}">Insertar Nuevo Empleado</a>
<script>
    function mostrarAlerta() {
        alert("Para editar, tiene que contactarse con el área de TI.");
    }
</script>
</body>
</html>